html {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
body {

}   
a{
    color: aliceblue;
}
a:visited{
    color: lightgray;
}
a :hover{
    color: #000000;
}
a :active{
    color: #eee;
}